<%- include('partials/header', { title: "Admin Dashboard" }) %>

<div class="main-content">
  <h1>Admin Dashboard</h1>
  <ul>
    <% users.forEach(user => { %>
    <li>
      <%= user.username %>
      <a href="/ban/<%= user._id %>">Ban</a>
      <a href="/delete/<%= user._id %>">Delete</a>
    </li>
    <% }) %>
  </ul>
</div>

<%- include('partials/footer') %>
