<%- include('partials/header', { title: `${profile.username}'s Profile` }) %>

<div class="main-content">
  <div id="profile-container">
    <% if (user.username === profile.username) { %>
    <h1>Your Profile</h1>
    <% } else {%>
    <h1><%= `${profile.username}'s Profile`%></h1>
    <% } %>
  </div>
  <p><strong>Username:</strong> <%= profile.username %></p>
  <p>
    <strong>Join Date:</strong> <%= profile.joinDate.toLocaleDateString() %>
  </p>

  <p class="return-to-chat"><a href="/">Return to Chat</a></p>
</div>

<%- include('partials/footer') %>
